---
# yaml-language-server: $schema=https://taskfile.dev/schema.json
version: "3"

tasks:
  default:
    desc: List tasks
    silent: true
    cmds:
      - task -t tasks/python.yml --list

  init:
    desc: Initialize project
    silent: true
    deps: []
    generates:
      - .venv/bin/activate
    cmds:
      - uv venv --allow-existing

  run:
    desc: Run the project
    silent: true
    deps:
      - init
    cmds:
      - uv run arvo

  debug:
    desc: Run the project in debug mode
    silent: true
    deps:
      - init
    cmds:
      - FLASK_DEBUG=1 uv run arvo

  test:
    desc: Test the project
    silent: false
    deps:
      - init
    cmds:
      - uv run -- pytest

  check:
    desc: Check for linting/formatting errors
    silent: true
    deps:
      - init
    cmds:
      - ty check --error-on-warning .
      - ruff check .
      - ruff format --check .

  fix:
    desc: Fix linting/formatting errors
    silent: true
    deps:
      - init
    cmds:
      - ruff check --fix .
      - ruff format .
